<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/stylesmain.css"/>
    <link rel="stylesheet"  href="/stylesheets/menu.css"/>
	<script src="js/slide_bar.js"></script>
	<title>  CatDog </title>
    <link rel="shortcut icon" href="/images/icon.ico" />
</head>
<body >
<div id="wrapper">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-mask">
                        <div class="card-header-date">
                            <div class="card-header-date-day">16</div>
                            <div class="card-header-date-month">November</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header">
                        <div class="card-body-header-category">CATS</div>
                        <h1>Some great news about the cats</h1>
                        <p class="card-body-header-sentence">
                            I don't know what to write about.
                        </p>
                    </div>
                </div>
            </div>
    <div class="card2">
                <div class="card2-header">
                    <div class="card2-header-mask">
                        <div class="card2-header-date">
                            <div class="card2-header-date-day">16</div>
                            <div class="card2-header-date-month">November</div>
                        </div>
                    </div>
                </div>
                <div class="card2-body">
                    <div class="card2-body-header">
                        <div class="card2-body-header-category">DOGS</div>
                        <h1>Some great news about the dogs</h1>
                        <p class="card2-body-header-sentence">
                            I don't know what to write about.
                        </p>
                    </div>
                </div>
            </div>

    <div id="containers">
    <nav>
			<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="">DOGS</a>
					<ul>
						<li><a href="/dogs/news">NEWS</a></li>
						<li><a href="/dogs/breeds">BREEDS</a></li>
						<li><a href="/dogs/photos">PHOTOS</a></li>
						<li><a href="/dogs/videos">VIDEOS</a></li>
					</ul>
					</li>
					<li><a href="">CATS</a>
					<ul>
							<li><a href="/cats/news">NEWS</a></li>
							<li><a href="/cats/breeds">BREEDS</a></li>
							<li><a href="/cats/photos">PHOTOS</a></li>
							<li><a href="/cats/videos">VIDEOS</a></li>
							</ul>
									</li>
					<li><a href="/blog">BLOG</a></li>
					<% if (user) { %>
					<li><a href="/logout">LOG OUT</a></li>
					<% } else { %>
				<li><a href="/login">LOG IN</a></li>
					<% } %>

			</ul>
    </nav>
</div>
        </div>
    <footer> It is the web-site about cats and dogs
        </footer>
</body>
</html>
