<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/stylesmain.css"/>
    <link rel="stylesheet"  href="/stylesheets/menu.css"/>
    <link rel="stylesheet"  href="/stylesheets/register.css"/>
	<script src="js/slide_bar.js"></script>
	<title>  CatDog </title>
    <link rel="shortcut icon" href="/images/icon.ico" />
</head>
<body >
<div id="wrapper">

    <div id="containers">
    <nav>
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="">DOGS</a>
            <ul>
                <li><a href="newsdogs.html">NEWS</a></li>
                <li><a href="breedsdogs.html">BREEDS</a></li>
                <li><a href="photosdogs.html">PHOTOS</a></li>
                <li><a href="videosdogs.html">VIDEOS</a></li>
            </ul>
            </li>
            <li><a href="">CATS</a>
            <ul>
                <li><a href="newscats.html">NEWS</a></li>
                <li><a href="breedscats.html">BREEDS</a></li>
                <li><a href="photoscats.html">PHOTOS</a></li>
                <li><a href="videoscats.html">VIDEOS</a></li>
                </ul>
                    </li>
            <li><a href="blog.html">BLOG</a></li>
            <li><a href="login.html">LOG IN</a></li>
        </ul>
    </nav>
</div>
        </div>
    <footer> It is the web-site about cats and dogs
        </footer>


    <div id="login">
        <form form action='/register' method='POST'>
            <fieldset class="clearfix">
                <p><span class="fontawesome-user"></span><input type="text" name="username" ></p>
                <p><span class="fontawesome-user"></span><input type="text" name="firstname"></p>
								<p><span class="fontawesome-user"></span><input type="text" name="lastname"></p>
								<p><span class="fontawesome-lock"></span><input type="password"  name="pass" ></p>
								<p><span class="fontawesome-lock"></span><input type="password"  name="pass2"</p>
                <p><input type="submit" value="REGISTER"></p>
            </fieldset>
        </form>
        <p>Already have account? &nbsp;&nbsp;<a href="/login">LOG IN</a><span class="fontawesome-arrow-right"></span></p>
    </div>
</body>
</html>
