<!doctype html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/breeds.css"/>
    <link rel="stylesheet"  href="/stylesheets/menu.css" />
	<title>  CatDog </title>
    <link rel="shortcut icon" href="/images/icon.ico" />
</head>
<body>
  <div id="containers">
  <nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="">DOGS</a>
        <ul>
          <li><a href="/dogs/news">NEWS</a></li>
          <li><a href="/dogs/breeds">BREEDS</a></li>
          <li><a href="/dogs/photos">PHOTOS</a></li>
          <li><a href="/dogs/videos">VIDEOS</a></li>
        </ul>
        </li>
        <li><a href="">CATS</a>
        <ul>
            <li><a href="/cats/news">NEWS</a></li>
            <li><a href="/cats/breeds">BREEDS</a></li>
            <li><a href="/cats/photos">PHOTOS</a></li>
            <li><a href="/cats/videos">VIDEOS</a></li>
            </ul>
                </li>
        <li><a href="/blog">BLOG</a></li>
        <% if (user) { %>
        <li><a href="/logout">LOG OUT</a></li>
        <% } else { %>
      <li><a href="/login">LOG IN</a></li>
        <% } %>

    </ul>
  </nav>
  </div>
  <% { %>
  <div class="container">
  <div class="card u-clearfix">
  <div class="card-media">
    <img src='data:image/jpg;base64,<%=post.avatar %>' class="card-media-img" />
  </div>
  <div class="card-body">
    <h2 class="card-body-heading"><%= post.username %></h2>
  <br><br>
  </div>
  </div>
  <% }  %>
  </div>
  <% if (user) { %>
  YOU ARE <%= user.username %>
  <% } %>
  <% if (user.username == post.username) { %>
				<form action='/users/upload_avatar/<%= post._id %>' method='POST' enctype="multipart/form-data">

					<label>Avatar:</label>
					<input type='file' name='ava' />
					<br />
					<button type='submit' class='btn btn-primary'>Upload</button>
				</form>
        <% } %>
</body>
</html>
