<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/videos.css"/>
    <link rel="stylesheet"  href="/stylesheets/menu.css" />
	<title>  CatDog </title>
    <link rel="shortcut icon" href="/images/icon.ico" />
</head>
<body >
    <div id="containers">
    <nav>
			<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="">DOGS</a>
					<ul>
						<li><a href="/dogs/news">NEWS</a></li>
						<li><a href="/dogs/breeds">BREEDS</a></li>
						<li><a href="/dogs/photos">PHOTOS</a></li>
						<li><a href="/dogs/videos">VIDEOS</a></li>
					</ul>
					</li>
					<li><a href="">CATS</a>
					<ul>
							<li><a href="/cats/news">NEWS</a></li>
							<li><a href="/cats/breeds">BREEDS</a></li>
							<li><a href="/cats/photos">PHOTOS</a></li>
							<li><a href="/cats/videos">VIDEOS</a></li>
							</ul>
									</li>
					<li><a href="/blog">BLOG</a></li>
					<% if (user) { %>
					<li><a href="/logout">LOG OUT</a></li>
					<% } else { %>
				<li><a href="/login">LOG IN</a></li>
					<% } %>

			</ul>
    </nav>
</div>
<div class="kolonka">
  <iframe width="auto" height="auto" src="https://www.youtube.com/embed/XALCvn8tcyM" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kwBJW0HIHZw" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/leVoIwuP3pw" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/32rG4SKO1_s" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YLinZVxkab8" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/mH4VIHiVeTo" frameborder="0" allowfullscreen></iframe>
</div>
</body>
</html>
